# Virtual environment
venv/

# Model weights 
*.pt
# Test videos 
videos/*
!videos/.gitkeep

# Output files 
outputs/*
!outputs/.gitkeep

# Python cache
__pycache__/
*.pyc

# VS Code settings 
.vscode/
